<div id="carouselExample" class="carousel slide w-50">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/colegio.avif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/de-hecho.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/cientifico.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/dinero.avif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/fing.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/int-triple.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/seg-fault.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
