<div class="d-flex p-4 gap-4">

  <header>
    <nav class="navbar">
      <ul class="navbar-nav">
        <li
          routerLink="entry-point"
          routerLinkActive="active"
          class="nav-item"
        >
          <a href="#" class="nav-link">Punto de Partida</a>
        </li>
        <li
          routerLink="goals-objectives"
          routerLinkActive="active"
          class="nav-item"
        >
          <a href="#" class="nav-link">Metas y Objetivos</a>
        </li>
        <li
          routerLink="action-plan"
          routerLinkActive="active"
          class="nav-item"
        >
          <a href="#" class="nav-link">Plan de Acción</a>
        </li>
        <li
          routerLink="conclusions"
          routerLinkActive="active"
          class="nav-item"
          >
          <a href="#" class="nav-link">Reflexión de Cierre</a>
        </li>
      </ul>
    </nav>
  </header>

  <main class="flex-fill">
    <router-outlet></router-outlet>
  </main>

</div>
