<div class="d-flex p-4 gap-4">

  <header>
    <nav class="navbar">
      <ul class="navbar-nav">
        <li
          routerLink="entry-point"
          routerLinkActive="active"
          class="nav-item cursor-pointer"
        >
          Punto de Partida
        </li>
        <li
          routerLink="goals-objectives"
          routerLinkActive="active"
          class="nav-item cursor-pointer"
        >
          Metas y Objetivos
        </li>
        <li
          routerLink="action-plan"
          routerLinkActive="active"
          class="nav-item cursor-pointer"
        >
          Plan de Acción
        </li>
        <li
          routerLink="conclusions"
          routerLinkActive="active"
          class="nav-item cursor-pointer"
          >
          Reflexión de Cierre
        </li>
      </ul>
    </nav>
  </header>

  <main class="flex-fill">
    <router-outlet></router-outlet>
  </main>

</div>
